{% extends "product.php.html" %}

{% block content %}
<style type="text/css">
#SubTotal tr td{
	text-align: right;
}
td {
text-align: right;
border: none;
}

tfoot td {
	font-weight:bold;
}

.Receipt{
	text-align: left;
}

</style>

<table width="100%" cellpadding="0" cellspacing="0" height="100%">    
  <tbody>
    <tr>                 
      <td valign="center">            
        <form method="post" name="frmDataEntry">
          <input id="idId" name="Id" value="00067" type="hidden">
          <input id="idAttendant" name="Attendant" value="0" type="hidden">
          <input id="idDId" name="DId" value="" type="hidden">
          <input id="idEmployeePurchase" name="EmployeePurchase" value="" type="hidden">
          <table width="100%">    
            <tbody>
              <tr>        
                <td colspan="4">            
                  <p align="center">
                    RECEIPT
                  </p>
				</td>    
              </tr>    
              <tr>        
                <td class="Receipt">            Bill No:         </td>        
                <td class="Receipt">            <b>{{bill.pk}}        </b></td>    
              </tr>    
              <tr>        
                <td class="Receipt">            Cashier         </td>        
                <td class="Receipt">            <b>{{bill.user.username}}        </b></td>        
                <!---->        
                <td class="Receipt">            Date :         </td>        
                <td class="Receipt">            {{bill.create_at}}        </td>    
              </tr>    
              <tr>        
                <td class="Receipt">            Customer         </td>        
                <td class="Receipt">            <b>{{bill.customer}}                    </b></td>        
                <td class="Receipt">                    </td>        
                <td class="Receipt">                    </td>    
              </tr>    
              <tr class="hr">
                <td colspan="4">            
                  <hr/>        </td>    
              </tr>
            </tbody>
          </table>
          <table width="100%" id="bill_content">    
            <tbody>
              <tr>        
				<td class="Receipt">            QTY         </td>        
				<td class="Receipt">            Item -- Serve         </td>        
                <td align="right">            U. P.         </td>        
                <td align="right">            Amount         </td>    
              </tr>    
              <tr class="hr">        
                <td colspan="4">            
                  <hr>        </td>    
              </tr>    
			{% for outStockRecord in outStockRecordset%}
				{{record}}
				<tr>
                <td class="Receipt">{{outStockRecord.quantity}}</td>
                <td class="Receipt">{{outStockRecord.product.name}} {% if  outStockRecord.serial_no.serial_no %}<span style="font-weight: bolder; padding: 0 0 0 1em"> IMIC: {{outStockRecord.serial_no.serial_no}}</span>{% endif %}</td>
                <td align="right">{{outStockRecord.unit_sell_price}}</td>
                <td align="right">{{outStockRecord.amount}}</td>
				</tr>
			{% endfor %}			  
				<tr class="hr">
                <td colspan=4><hr/></td>
				</tr>                
            
            </tbody>
            <tfoot>
              <tr id="bill_summary">        
                <td  align="right" >            Received Amount         </td>        
                <td align="right" >                        {{bill.tendered_amount}}        </td>    			  
                <td  align="right" >            Sub Total         </td>        
                <td align="right" >            {{bill.subtotal_price}}       </td>    
              </tr>            
              <tr>        
                <td  align="right" >            Change         </td>        
                <td align="right" >           {{bill.change}}         </td>    
                <td  align="right" >            Disc         </td>        
                <td align="right" >            {{bill.discount}}       </td>    
              </tr>            
              <tr>        
                <td align="right" >            Paid By         </td>        
                <td align="right" >             {{bill.payment_set.select_related.0.term}} : {{bill.payment_set.select_related.0.transaction_no}}        </td>    
                <td  align="right" >            Total         </td>        
                <td align="right" >            {{bill.total_price}}       </td>    
              </tr>                          
              <tr>        
                <td colspan="10">            
                  <hr>        </td>    
              </tr>        
            </tfoot>
          </table>
          <table width="100%">    
            <tbody>
              <tr>        
                <td width="30%" align="center">                 
                  <br>____________________         </td>        
                <td width="30%" align="center">                          </td>        
                <td width="30%" align="center">                 
                  <br>_____________________         </td>    
              </tr>    
              <tr>        
                <td width="30%" align="center">                 Customer Signature         </td>        
                <td width="30%" align="center">                          </td>        
                <td width="30%" align="center">                 Authorised By         </td>    
              </tr>
            </tbody>
          </table>
{% endblock %}
