{% extends "inventory_base.html" %}

{% block SalesMode %}
	<input type="hidden" name="salesMode" value="invoice"/>
{% endblock %}

{% block title%}
	<div id="page_title" style="margin-bottom:8px;">Consignment Instock Received
    </div>  
{% endblock %}

{% block mode_form %}
		<!--
          <div id="mode_form">
            <span>Receiving Mode
            </span>  
            <select name="mode" onchange="$('#mode_form').submit();">  
			  <option value="consignment" selected="selected">Consignment
              </option>  
            </select>
          </div>  -->
		  <input type="hidden" name="mode" value="Consignment_IN"/>
{% endblock %}

{% block Supplier %}		
	<label id="item_label" for="item">    Find/Scan Item
    </label>  
    <input type="text" name="item" value="" id="item" size="40" onclick="return false;"/>
{% endblock %}	

{% block AmountTendered %}
{% endblock %}

{% block CreaditCard %}
{% endblock %}