{% extends "invoice_form.html" %}

{% block css %}
{% endblock %}

{% block hiddenValue %}
    <input type="hidden" name="mode" value="Consignment_OUT_SALE"/>
{% endblock %}

{% block title %}
        <div id="page_title" style="margin-bottom:8px;">Consignment OutStock Sales
        </div>  
{% endblock %}

{% block mode_form %}
{% endblock %}

{% block autocomplete_search %}  
	$("#item").autocomplete ("/consignmentout/ajax/", {
		width: 260,
        selectFirst: false,
        extraParams: {
                    mode: function(){ return $("#mode").attr('value'); }
                }
    });      
{% endblock %}