{% extends "product.php.html" %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}

.summary td{
	color: blue; 
	font-weight: bolder;
}

.detail{
	display: none;
}
.detail td{
	background-color: #eff5fe; 
	color: black; 
	padding: 0 0 0 0.8em;
	font-weight: lighter;
}

.productName{
    font-size: 12pt;
    font-weight: bolder;
    color: red;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;"><h1>{{title}}Report</h1>
        </div>
		
        <div id="page_subtitle" style="margin-bottom:8px;">{{dateRange}}
        </div>  
        <div id="table_holder">  	
		<div id="toggle" style="margin-bottom:8px;text-align: right">Expand/ Collapse Detail</div>
		
              <table class="tablesorter report" id="sortable_table">  		
            <thead>  			
              <tr>  				
                <th>Bill No
                </th>
                <th>Type
                </th>   								
                <th>Description
                </th>  								
 				<th>Cost
                </th>  
                <th>Profit
                </th>   
                <th>Discount
                </th>  												
								
       

              </tr>  		
            </thead>  		
            <tbody>  	
        {% for products in group %}
			<div class="productName">
            </div>
			{%for product, outStockRecordSet in products.items%}
				{%for outStockRecord in outStockRecordSet%}
					{% if forloop.counter == 1%}
                        {% if outStockRecord.quantity != 0 %}
                            <tr class="summary"><td><a href="/sales/bill/{{outStockRecord.bill_id}}">{{outStockRecord.bill_id}}</a></td><td>{{outStockRecord.mode}}</td><td></td><td class="sum_cost">{{outStockRecord.cost}}</td><td class="sum_profit">{{outStockRecord.profit}}</td><td class="sum_discount">{{outStockRecord.bill.discount}}</td></tr>
                        {% endif %}
					{% else %}
                        {% if outStockRecord.serial_no.count != 0 %}
                            <tr class="detail"><td>{{outStockRecord.serial_no.serial_no}}</td><td></td><td>{{outStockRecord.product.description}}</td><td>{{outStockRecord.cost}}</td><td>{{outStockRecord.profit}}</td><td>{{outStockRecord.bill.discount}}</td>  </tr>
                        {% endif %}
					{% endif %}
				{%endfor%}
			{%endfor%}
            </tbody>  	
          
           {% endfor %}
           <tfoot>
           <tr><td></td><td></td><td></td><td id="sum_cost_total"></td><td id="sum_profit_total"></td><td id="sum_discount_total"></td> <td></td>  </tr>          
           </tfoot>
          </table> 
        </div>  
      </div>  
    </div>

<script type="text/javascript">
    var sum_qty = 0
    $(".sum_qty").each(function(){
        sum_qty += parseFloat($(this).text())
	
    });

    $("#sum_qty_total").html(sum_qty.toFixed(2))
    
    var sum_cost = 0
    $(".sum_cost").each(function(){
        sum_cost += parseFloat($(this).text())
	
    });
    $("#sum_cost_total").html(sum_cost.toFixed(2))
    
	$("#toggle").click(function(){
		if ($(".detail").css('display') == 'none'){
			$(".detail").css('display', 'table-row')
		}else{
			$(".detail").css('display', 'none')
		}
	})
	
    var sum_profit = 0
    $(".sum_profit").each(function(){
        sum_profit += parseFloat($(this).text())
    });
    $("#sum_profit_total").html(sum_profit.toFixed(2))

    
    var sum_discount = 0
    $(".sum_discount").each(function(){
        sum_discount += parseFloat($(this).text())
    });
    $("#sum_discount_total").html(sum_discount.toFixed(2))
	    
    
</script>
{% endblock %}


	
