{% extends "product.php.html" %}


{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print"><!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
{% endblock %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}

.container {
    margin: 0 1em 0 1em;
    width: auto;
}
#content_area {
    float: left;
    width: auto;
}

#content_area_wrapper{
    float: left;
    width: auto;
}
td{
    text-align:center;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;"><h1>Daily Sales Report</h1>
        </div>  
        <div id="page_subtitle" style="margin-bottom:8px;">{{dateRange}}
        </div>  
        <div id="table_holder">  	
          <table class="tablesorter report" id="sortable_table">  		
            <thead>  			
              <tr>  				
                <th>Sale ID
                </th>  								
                {% for title in tableHeader%}
                    <th>{{title}}</th>  								
                 {% endfor %}
              </tr>  		
            </thead>  		
            <tbody>  			
			{% for category in categorysTitle %}
                {% with forloop.counter0 as idx%}
                <tr>
                    <td>{{category}}</td>
                    {%for date, categorys in dateTable %}
                    <td>{{categorys|Get:idx}}</td>
                    {% endfor %}
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>  	
          </table>  
        </div>  
      </div>  
    </div>

{% endblock %}


	
