{% extends "product.php.html" %}

{% block left_link %}
    {% for name,link in main_link.items %}
            <div class='span-6 last'><a href='{{link}}'>{{name|upper}}</a></div>
    {% endfor%}
{% endblock %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}

.summary td{
	color: blue; 
	font-weight: bolder;
}

.detail{
	display: none;
}
.detail td{
	background-color: #eff5fe; 
	color: black; 
	padding: 0 0 0 0.8em;
	font-weight: lighter;
}

.productName{
    font-size: 12pt;
    font-weight: bolder;
    color: red;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;">Detailed Sales Report
        </div>
		
        <div id="page_subtitle" style="margin-bottom:8px;">{{dateRange}}
        </div>  
        <div id="table_holder">  	
		<div id="toggle" style="margin-bottom:8px;text-align: right">Expand/ Collapse Detail</div>
		{% for product, users in salesReport.items %}
			<div class="productName">{{product}}</div>
          <table class="tablesorter report" id="sortable_table">  		
            <thead>  			
              <tr>  				
                <th>Employee
                </th>  								
                <th>Price
                </th>  								
                <th>Cost
                </th>  								
                <th>Profit
                </th>  								
                <th>QTT
                </th>  								
              </tr>  		
            </thead>  		
            <tbody>  	
			
			{%for user, outStockRecordSet in users.items%}
				{%for outStockRecord in outStockRecordSet%}
					{% if forloop.counter == 1%}
						<tr class="summary"><td>{{outStockRecord.bill.user.username}}</td><td>{{outStockRecord.unit_sell_price}}</td>  <td>{{outStockRecord.cost}}</td>  <td>{{outStockRecord.profit}}</td>   <td>{{outStockRecord.quantity}}</td> </tr>
					{% else %}
						<tr class="detail"><td>{{outStockRecord.bill.create_at}}</td><td>{{outStockRecord.unit_sell_price}}</td>  <td>{{outStockRecord.cost}}</td>  <td>{{outStockRecord.profit}}</td>   <td>{{outStockRecord.quantity}}</td> </tr>
					{% endif %}
				{%endfor%}
			{%endfor%}
            </tbody>  	
          </table>  
		  {% endfor %}
        </div>  
      </div>  
    </div>

<script type="text/javascript">
	$("#toggle").click(function(){
		if ($(".detail").css('display') == 'none'){
			$(".detail").css('display', 'table-row')
		}else{
			$(".detail").css('display', 'none')
		}
	})
</script>
{% endblock %}


	
