{% extends "sales_base.html" %}

{% block css %}
{% endblock %}

{% block hiddenValue %}
{% endblock %}

{% block title %}
        <div id="page_title" style="margin-bottom:8px;">Service
        </div>  
{% endblock %}

{% block mode_form %}
          <div id="mode_form">
            <span>Register Mode
            </span>  
            <select name="mode" id="mode" onchange="$('#mode_form').submit();">  
              <option value="service" selected="selected">Service
              </option>  
            </select>
          </div>  
{% endblock %}

{% block search_bar %}
            <label id="item_label" for="item">    Find/Scan Item
            </label>  
            <input type="text" name="item" value="" id="item" size="40" onclick="return false;"/>
{% endblock %}

{% block table_header %}
            <thead>  
              <tr>  
                <th style="width:auto">Item #
                </th>  
                <th style="width:auto">Item Name
                </th>  
                <th style="width:auto">IMEI
                </th>                  
                <th style="width:11%;">Cost
                </th>                  
                <th style="width:11%;">Price
                </th>  
                <th style="width:11%;">Amount
                </th>                  
              </tr>  
            </thead> 
{% endblock %}

{% block table_foot %}
			<tbody id="sell_detail"></tbody>			
            <tfoot>
              <tr>  
                <td style="widtd:auto">
                </td>  
                <td style="widtd:auto">
                </td>  
                <td style="widtd:auto">
                </td>  
                <td style="widtd:11%;" id="cost_total">0
                </td>  
                <td style="widtd:11%;" id="quantity_total">0
                </td>  
                <td style="widtd:11%;">
                </td>                  
              </tr>              
            </tfoot>
          </table>  
        </div>      
{% endblock %}		

{% block bill_infor %}
            <label >Issue by: 
            </label>{{request.user.username}} <br>
            <label >Sales by: 
            </label>  		
			<select name="salesby">
				<option value="{{request.user.pk}}">{{request.user.username}}</option>
				{% for user in users %}
					<option value="{{user.pk}}">{{user.username}}</option>
				{% endfor %}
			</select>
            <br>			
			{% block Customer %}
            <label id="customer_label" for="customer">Select Customer
            </label>  		
            <input type="text" name="customer" value="Cash" id="customer" size="30"  /></br>
            <label id="customer_label" for="customer">Reff bill no
            </label>  		
            <input id="id_refbill" type="text" maxlength="150" name="refbill" size="30"  />          
            <script type="text/javascript">

				
                $("#customer").autocomplete("/customer/ajax/", {
                    width: 260,
                    selectFirst: false
                });
                $("#customer").result(function(event, data, formatted)
                {
                    customerName = $("#customer").val();
                    $("#supplierDetail").html(customerName);
                        $.ajax({
                            url: "/customer/info/"+customerName,
                            type: "JSON",
                            success: function(data){  
                                var customerShow = '<div style="text-align: left">';
                                customerShow += "<div>Contact Person: "+data[0].fields.contact_person+"</div>";
                                customerShow += "<div>Term: "+data[0].fields.term+"</div>";
                                customerShow += "<div>phone: "+data[0].fields.phone+"</div>";
                                customerShow += "<div>Address: <br/>"+data[0].fields.address+"</div>";
                                customerShow += "</div>";
                                
                                $("#supplierDetail").html(customerShow);
                            },
                            error: function(data){ alert("Product Not found! please check your barcode: " + $("#customer").val()) },
                            complete: function(data){},
                        });            
                });              
            </script>
            <div style="margin-top:5px;text-align:center;" id="supplierDetail">          </div>
            <div style="margin-top:5px;text-align:center;" id="depositDetail">          </div>
			{% endblock %}
  		
          <div class="clearfix">&nbsp;
          </div>  		 	
          <div id='sale_details'>  		
            <div class="float_left" style="width:50%;">Sub Total:
            </div>  		
            <div class="float_left" style="width:50%;font-weight:bold;">$<input type=text name="subTotal" id="subTotal" value="0.00" readonly=false size="10" style="border: none; background: transparent;"/>
            </div>    				
            <div class="float_left" style='width:50%;'>Discount:
            </div>  		
            <div class="float_left" style="width:50%;font-weight:bold;">$<input type="text" name="discount" value="0.00" id="discount" size="10" onkeyup="calcTotalPrice();calcChange();" autocomplete="off" />
            </div>
			<div id="deposit_block">
				<div class="float_left" style='width:50%;'>Deposit:
				</div>  		
				<div class="float_left" style="width:50%;font-weight:bold;">$<input type="text" name="deposit" value="0.00" id="deposit" size="10" style="border: none; background: transparent;"/>
				</div>  	
			</div>            
              		 		
            <div class="float_left" style='width:50%;'>Total:
            </div>  		
            <div class="float_left" style="width:50%;font-weight:bold;">$<input type=text name="total" id="total" value="0.00" readonly=true size="10" style="border: none; background: transparent;"/>
            </div>  	
			{% block AmountTendered %}
            <div class="float_left" style='width:50%;'>Amount Tendered:
            </div>  		
            <div class="float_left" style="width:50%;font-weight:bold;">$<input type="text" name="amountTendered" value="0.00" id="amount_tendered" size="10"  onkeyup="calcChange()"  autocomplete="off"/>
            </div>  	
			<div id="change_block">
				<div class="float_left" style='width:50%;'>Change:
				</div>  		
				<div class="float_left" style="width:50%;font-weight:bold;">$<input type="text" name="change" value="0.00" id="change" size="10" style="border: none; background: transparent;"/>
				</div>  	
			</div>		
			<div id="creaditCard_block" style="display: none">
					<div class="float_left" style='width:50%;'>Transaction No:
					</div>  		
					<div class="float_left" style="width:50%;font-weight:bold;"><input type="text" name="transactionNo" id="transactionNo" size="10" />
					</div>  	
			</div>			
			{% endblock %}	
          </div>          	     	
          <div class="clearfix" style="margin-bottom:1px;">&nbsp;
          </div>  		    
          <div id="Payment_Types" >    		
            <div style="">    			
              <div id="add_payment_form">			
                <div class='small_button' id='confirm' style='float:right;margin-top:5px;'>  				
                  <span>Confirm
                  </span>  			
                </div>  		
            </div>  		
			{% block CreaditCard %}
			<div style="">    			               
			  <div>			                 
				<div class='small_button' id='creadit_card' style='float:right;margin-top:5px;'>  				                   
				  <span>Creadit Card                   
				  </span>  			                 
				</div>  		             
			  </div>  		             
			  <div style="">    			               
				<div>			                 
				  <div class='small_button' id='cash' style='float:right;margin-top:5px;display:none'>  				                   
					<span>Cash                   
					</span>  			                 
				  </div>  		             
				</div>  		             
			  </div>    		     	           
			</div>    	
            <script type="text/javascript">
                $("#creadit_card").click(function(){
                    calcTotalPrice();
                    $("#amount_tendered").attr("value",$("#total").val());
                    calcChange();
                    $("#creadit_card").css("display","none");
                    $("#cash").css("display","block");
                    $("#change_block").css("display","none");
                    $("#creaditCard_block").css("display","block");

                });  

                $("#cash").click(function(){
                    $("#creadit_card").css("display","block");
                    $("#cash").css("display","none");
                    $("#change_block").css("display","block");
                    $("#creaditCard_block").css("display","none");
                });  
            </script>            
			{% endblock %}
        </div>  
        <div class="clearfix" style="margin-bottom:30px;">&nbsp;
        </div>      
      </div>  
{% endblock %}


{% block ajaxSubmitCheck %}
    if($("#customer").val()==''){
        alert("Please fulfill customer field.");
		return false;
    }        
	return true;
{% endblock %}

{% block ajaxGenTableBody %}
			var IMEI_str = "";
			if (data.imei != undefined){
				IMEI_str =  " <br/> IMEI:  <input type=text name=\""+pk+"_imei\" id=\""+pk+"_imei\" value=\""+data.imei+"\" readonly=true size=\"18\" style=\"border: none; background: transparent;\"/>";
			}
			row = ""+
					"<tr id=\""+pk+"_tr\">"+
					"<td><a href='#' id='removeItem' onclick=\"removeItem('"+pk+"')\"><img src='/static/images/delete.png' /></a> "+data.fields.barcode+"</td>"+
					"<td id=\""+pk+"_productName\">["+data.fields.name +"] "+data.fields.description + IMEI_str +"</td>"+    <!-- [<span id=\""+pk+"_stockCount\"></span> in stock]</td>  for batch sales only-->
                    "<td><input type=\"text\" name=\""+pk+"_serial\" id=\""+pk+"_serial\" value=\"\"/></td>"+
					"<td><input type=\"text\" name=\""+pk+"_cost\" id=\""+pk+"_cost\" value=\"0\" size=\"2\" onkeyup=recalcAll('"+pk+"') onChange=resetQuantityField('"+pk+"') /></td>"+
					"<td><input type=\"text\" name=\""+pk+"_price\" id=\""+pk+"_price\" value=\"0\" size=\"2\"  onkeyup=recalcAll('"+pk+"') onChange=resetQuantityField('"+pk+"') /><input type=\"hidden\" name=\""+pk+"_quantity\" id=\""+pk+"_quantity\" value=\"1\" /></td>"+
					"<td>$<span id=\""+pk+"_amount\" class='totalPrice'>"+data.fields.retail_price+"</span><input type=\"hidden\" name=\""+pk+"_pk\" id=\""+pk+"_pk\" value=\""+data.pk+"\" /></td>"+
					"</tr>"
			;    
			return row;
{% endblock %}

{% block ajaxCheckBeforeSend %}
        var reject = false;
        reject_msg = "";
        if(_checkInputData() == false){ return; }
		var msg = '';
		for(var pk in productTable){
            product_name = productTable[pk].fields.name
            if( "imei" in productTable[pk]){
                product_name = productTable[pk].imei
            }
            if(parseInt($("#"+pk+"_quantity").val()) >  productTable[pk].fields.stockCount){
                reject = true;
                reject_msg += "Product: '" + product_name + "' only '"+productTable[pk].fields.stockCount+"' item in hand \n"; 
            }
        
			var price = parseFloat($("#"+pk+"_price").val());
			var cost = parseFloat(productTable[pk].fields.cost);
			if(cost > price){
				msg += product_name + ' PRICE: $'+price+' lower than COST: $'+ cost + ' \n';
			}
		}
        
        if (reject){
            alert(reject_msg);
            return;
        }
        
		ans = confirm(msg + " \n Are you sure?");
		if(!ans){ return; }
{% endblock %}

{% block summaryCalcScript %}    
    function calcAmount(pk){
        var currentQuantity = parseInt($("#"+pk+"_quantity").val());
        var price = $("#"+pk+"_price").val();
        $("#"+pk+"_amount").html(currentQuantity* price);
    }
    function calcSubTotalPrice(){
        var total = 0;
        for (var key in productTable){
            total += parseFloat($("#"+key+"_amount").html());
        }
        $("#subTotal").attr("value",total);
    }
    function calcTotalPrice(){
        subTotal = $("#subTotal").val();
        discount = $("#discount").val();
        deposit =  $("#deposit").val();
        if(deposit == undefined){
            deposit = 0
        }
        $("#total").attr("value", (subTotal-discount-deposit));
    }
    function calcChange(){
        total = $("#total").val();
        amount_tendered = $("#amount_tendered").val();
        $("#change").attr("value", (amount_tendered-total));
    }

    function calcItemSum(){
        var totalPrice = 0;
        var totalQty = 0;
        for (var key in productTable){
            var currentPrice = parseInt($("#"+key+"_price").val());
            var price = 0;
            if ($("#"+key+"_cost").length){
                price = parseFloat($("#"+key+"_cost").val());
            }
            
            totalQty += currentPrice;
            totalPrice += price;
        }
        $("#quantity_total").text(totalQty);
        $("#cost_total").text(totalPrice);
    }    
    

    
    function recalcAll(pk){
        calcAmount(pk);
        calcSubTotalPrice();
        calcTotalPrice();
        calcItemSum();
    }

	function lowerCostDetact(pk){
        var price = parseFloat($("#"+pk+"_price").val());
		var cost = parseFloat(productTable[pk].fields.cost);
		if(cost > price){
            product_name = productTable[pk].fields.name
            if ('imei' in productTable[pk]){
                product_name = productTable[pk].imei
            }
			alert( product_name + ' PRICE: $'+price+' lower than COST: $'+ cost + ' \n');
			
		}
	}
	
	function resetQuantityField(pk){
		$("#"+pk+"_serial").html();
		var quantity = $("#"+pk+"_quantity").val();
		var inputField = _build_serial_input_textfield_by_pk_and_quantity(pk, quantity);
		$("#"+pk+"_serial").html(inputField);		
	}
	
    function removeItem(pk){
        delete productTable[pk];
		$("#"+pk+"_serial_tr").remove();
        $("#"+pk+"_tr").remove();
        calcSubTotalPrice();
        calcTotalPrice();
    }
{% endblock %}		

{% block product_append_algo %}        
    function _localProductStore(pk, data){
        if ( productTable[pk] == undefined){
            // row = $('#sell_detail').html();
            productTable[pk] = data;       
            row = _genRowByPK(pk, data);
            $('#sell_detail').append(row);
            if(data.model == "kernal.foc"){ // foc product no stock
                return;
            }
            _queryInventory(data);
        }else{

            calcAmount(pk);
            calcSubTotalPrice();
            calcTotalPrice();
        }    
        calcItemSum();
    }
{% endblock %}	