{% extends "product.php.html" %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;"><h1>Service</h1>
        </div>  
        <div id="table_holder">  	
        	<form action="{{action}}">
	          <table id="sortable_table">
				<tr><th><label for="id_customer">Customer:</label></th><td><input id="id_customer" type="text" name="customer" maxlength="100" /></td></tr> 	          
	          {{form}}  		
	          	<tr><th></th><td><input type="submit" value="submit"/></td></tr>
	          </table>  
          	</form>
        </div>  
      </div>  
    </div>
{% endblock %}