{% extends "product.php.html" %}

{% block left_link %}
    {% for name,link in main_link.items %}
            <div class='span-6 last'><a href='{{link}}'>{{name|upper}}</a></div>
    {% endfor%}
{% endblock %}

{% block content %}
    <link rel="stylesheet" rev="stylesheet" href="/static/css/phppos.css" />  	
    <link rel="stylesheet" rev="stylesheet" href="/static/css/phppos_print.css"  media="print"/>
<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;">Sales Register
        </div>  
        <div id="register_wrapper">  
          <form action="https://demo.phppointofsale.com/index.php/sales/change_mode" method="post" id="mode_form">	
            <span>Register Mode
            </span>  
            <select name="mode" onchange="$('#mode_form').submit();">  
              <option value="sale" selected="selected">Sale
              </option>  
              <option value="return">Return
              </option>  
            </select>
            <div id="show_suspended_sales_button">  	
              <a href="https://demo.phppointofsale.com/index.php/sales/suspended/width:425" class="thickbox none" title="Suspended Sales">
                <div class='small_button'>
                  <span style='font-size:73%;'>Suspended Sales
                  </span>
                </div></a>
            </div>  
          </form>  
          
            <label id="item_label" for="item">    Find/Scan Item
            </label>  
            <input type="text" name="item" value="" id="item" size="40" onclick="return false;"/>
            <div id="new_item_button_register" >  		
              <a href="https://demo.phppointofsale.com/index.php/items/view/-1/width:360" class="thickbox none" title="New Item">
                <div class='small_button'>
                  <span>New Item
                  </span>
                </div></a>	
            </div>    
          <table id="register">  
            <thead>  
              <tr>  
                <th style="width:30%;">Item #
                </th>  
                <th style="width:30%;">Item Name
                </th>  
                <th style="width:11%;">Price
                </th>  
                <th style="width:11%;">Qty.
                </th>  
                <th style="width:15%;">Amount
                </th>  
              </tr>  
            </thead>  
            <tbody id="cart_contents">  
              <form action="https://demo.phppointofsale.com/index.php/sales/edit_item/2" method="post">		
                <tr>
				  <td>AC001</td>  		
                  <td style="align:center;">Gucci  Baga<br /> [4.00 in stock]</td>        					<td>
                    <input type="text" name="price" value="9000.00" size="6"  /></td>  		 		<td>  		
                    <input type="text" name="quantity" value="1" size="2"  />		</td>    		
					<td>$9000.00</td>  		
                </tr>  		
              </form>  	
            </tbody>  
			<tbody id="sell_detail"></tbody>			
          </table>  
        </div>      
        <div id="overall_sale">  	
          <form action="https://demo.phppointofsale.com/index.php/sales/select_customer" method="post" id="select_customer_form">		
            <label id="customer_label" for="customer">Select Customer (Optional)
            </label>  		
            <input type="text" name="customer" value="Start Typing customer&#39;s name..." id="customer" size="30"  />		
          </form>  		
          <div style="margin-top:5px;text-align:center;">  		
            <h3 style="margin: 5px 0 5px 0">OR</h3>  		
            <a href="https://demo.phppointofsale.com/index.php/customers/view/-1/width:350" class="thickbox none" title="New Customer">
              <div class='small_button' style='margin:0 auto;'>
                <span>New Customer
                </span>
              </div></a>		
          </div>  		
          <div class="clearfix">&nbsp;
          </div>  		 	
          <div id='sale_details'>  		
            <div class="float_left" style="width:55%;">Sub Total:
            </div>  		
            <div class="float_left" style="width:45%;font-weight:bold;">$9046.00
            </div>    				
            <div class="float_left" style='width:55%;'>Discount:
            </div>  		
            <div class="float_left" style="width:45%;font-weight:bold;">$<input type="text" name="discount" value="0.00" id="discount" size="10" onkeyup="calcTotalPrice()" />
            </div>  		 		
            <div class="float_left" style='width:55%;'>Total:
            </div>  		
            <div class="float_left" style="width:45%;font-weight:bold;">$10396.00
            </div>  	
            <div class="float_left" style='width:55%;'>Amount Tendered:
            </div>  		
            <div class="float_left" style="width:45%;font-weight:bold;">$<input type="text" name="amount_tendered" value="0.00" id="amount_tendered" size="10"  onkeyup="calcChange()" />
            </div>  	
            <div class="float_left" style='width:55%;'>Change:
            </div>  		
            <div class="float_left" style="width:45%;font-weight:bold;">$<input type="text" name="change" value="0.00" style="border: none;" id="change" size="10" />
            </div>  	
			
          </div>          	     	
          <div class="clearfix" style="margin-bottom:1px;">&nbsp;
          </div>  		    
          <div id="Payment_Types" >    		
            <div style="">    			
              <form action="https://demo.phppointofsale.com/index.php/sales/add_payment" method="post" id="add_payment_form">			
                <div class='small_button' id='add_payment_button' style='float:left;margin-top:5px;'>  				
                  <span>Confirm
                  </span>  			
                </div>  		
            </div>  		
            </form>    		     	
          </div>    	
        </div>  
        <div class="clearfix" style="margin-bottom:30px;">&nbsp;
        </div>      
      </div>  
    </div>  
<script type="text/javascript">
    var productTable = new Array();
    var quantityTable = new Array();    
    $("#item").keydown(function(event){
        if(event.keyCode != '13'){
            return;
        }
        if ( productTable[$("#item").val()] == undefined){
            row = $('#sell_detail').html();
            
            /**
                query product infor by ajax
            **/
            $.ajax({
                url: "/product/info/"+$("#item").val(),
                type: "JSON",
                success: function(data){  
                    for (var i = 0; i < data.length; i++){
                        var barcode = data[i].fields.barcode;
                        productTable[barcode] = data;       
                        quantityTable[barcode] = 1;         
                        row += ""+
                                "<tr id=\""+barcode+"_tr\">"+
                                "<td><a href='#' id='removeItem' onclick=removeItem('"+barcode+"')><img src='/static/images/delete.png' /></a> "+barcode+"</td>"+
                                "<td id=\""+barcode+"_productName\">"+data[i].fields.name+"</td>"+
                                "<td><input type=\"text\" name=\""+barcode+"_price\" id=\""+barcode+"_price\" value=\""+data[i].fields.retail_price+" \" size=\"6\" onkeyup=recalcAll('"+barcode+"') /></td>"+
                                "<td><input type=\"text\" name=\""+barcode+"_quantity\" id=\""+barcode+"_quantity\" value=\"1\" size=\"2\"  onkeyup=recalcAll('"+barcode+"') /> / (<span id=\""+barcode+"_stockCount\"></span>)</td>"+
                                "<td id=\""+barcode+"_amount\" class='totalPrice'>$"+data[i].fields.retail_price+"</td>"+
                                "</tr>"
                        ;                        
                    }

                    $('#sell_detail').html(row);
                    for (var key in productTable){
                        $("#"+key+"_quantity").attr("value", quantityTable[key]);
                    }                    
                },
                error: function(data){ alert("Product Not found! please check your barcode: " + $("#item").val()) },
                complete: function(data){ 
                    calcSubTotalPrice();
                    calcTotalPrice();
                },
            });            
            /**
                query product inventory by ajax
            **/
            $.ajax({
                url: "/product/inventory/"+$("#item").val(),
                type: "JSON",
                success: function(data){  
                    $("#"+$("#item").val()+"_stockCount").html(data[0].inventory);
                },
                error: function(data){ alert("Product Not found! please check your barcode: " + $("#item").val()) },
                complete: function(data){},
            });            
            
        }else{
            var barcode = $("#item").val();
            quantityPlugOne(barcode)
            calcAmount(barcode);
            calcSubTotalPrice();
            calcTotalPrice();
        }


    });
    
    function quantityPlugOne(barcode){
            var quantityField = $("#"+barcode+"_quantity");
            var currentQuantity = parseInt(quantityField.val());
            quantityField.attr("value", currentQuantity+1);
            quantityTable[barcode] = currentQuantity+1;
    }
    function calcAmount(barcode){
        var currentQuantity = parseInt($("#"+barcode+"_quantity").val());
        var price = $("#"+barcode+"_price").val();
        $("#"+barcode+"_amount").html("$"+currentQuantity* price);
    }
    function calcSubTotalPrice(){
        var total = 0;
        for (var key in productTable){
            total += parseInt($("#"+key+"_amount").html());
        }
        $("#subTotal").attr("value",total);
    }
    function calcTotalPrice(){
        subTotal = $("#subTotal").val();
        discount = $("#discount").val();
        $("#total").attr("value", (subTotal-discount));
    }
    function calcChange(){
        total = $("#total").val();
        amount_tendered = $("#amount_tendered").val();
        $("#change").attr("value", (amount_tendered-total));
    }

    function recalcAll(barcode){
        calcAmount(barcode);
        calcSubTotalPrice();
        calcTotalPrice();
    }
    function removeItem(barcode){
        delete productTable[barcode];
        delete quantityTable[barcode];
        $("#"+barcode+"_tr").remove();
        calcSubTotalPrice();
        calcTotalPrice();
    }

  $("#item").autocomplete("/product/ajax/", {
		width: 260,
		selectFirst: false
	});
    
    
     $("#customer").autocomplete("/customer/ajax/", {
		width: 260,
		selectFirst: false
	});
  
  
    
  </script>	
{% endblock %}	