{% extends "search.html" %}

{% block searchField %}		  		
			<div><span class="date"><label for="id_start_date">Start Date: </label> </span><span class="date"> <input id="id_start_date" type="text" class="vDateField" name="start_date" size="10"/> </span><span class="date"> <label for="id_end_date">End Date: </label> </span><span class="date"> <input id="id_end_date" type="text" class="vDateField" name="end_date" size="10"/></span></div> 		
            <label id="item_label" for="item">    Name: 
            </label>  
            <input type="text" name="item" value="" id="item" size="40" onclick="return false;"/>
{% endblock %}		  			

{% block table_head %}		  
            <thead>  
              <tr>
                <td colspan=6><select name="task_pk" id="task_pk"> 
                {% for task in tasks %}
                    <option value="{{task.pk}}">{{task.name}}</option>
                {% endfor %}
                </select></td>
              </tr>
              <tr>  
                <th style="width:auto">Task ID
                </th>  
                <th style="width:auto">Task
                </th>				  
                <th style="width:auto;">Worker
                </th>  
                <th style="width:auto;">Cost
                </th>  
                <th style="width:auto;">Loading
                </th>                  
                <th style="width:auto">Action
                </th>                  
              </tr>  
            </thead>  
{% endblock %}	
{% block sell_detail %}
			{% if object_list %}
				{% for result in object_list %}
                <tr>
                <td><a href="/sales/bill/{{result.pk}}">{{result.pk}}</a></td>
                <td>{{result.name}}</td>
                <td>{{result.description}}</td>
                <td>{{result.cost}}</td>
                <td>{{result.status}}</td>
                <td><a href="/workflow/clothes/information/add/{{result.pk}}">[ Clothes Detail ]</a> <a href="/workflow/step/add/{{result.pk}}">[ Step ]</a></td>
                </tr>					
				{% endfor %}
			{% endif %}
{% endblock %}
{% block table_script %}	
    $("#task_pk").change(function(){
                        $.ajax({
                            url: "/workflow/task/worker/list/"+$(this).val(),
                            type: "JSON",
                            success: function(data){  
                                row = '';
                                for(i=0 ; i < data.length; i++){
                                    row += _genRowByPK(data[i]);
                                }
                                
                                $('#sell_detail').html(row);	
                            },
                            error: function(data){ alert("Product Not found! please check your barcode: " + $("#customer").val()) },
                            complete: function(data){},
                        });       
    
    });
    
    $("#id_start_date").datepicker({dateFormat: 'yy-mm-dd'});
	$("#id_start_date").change( function() {
		$('#sell_detail').empty();
		var start = $.datepicker.parseDate('yy-mm-dd', $("#id_start_date").val());
		var end = '';
		if($("#id_end_date").val() == ''){
			end = $.datepicker.parseDate('yy-mm-dd', $("#id_start_date").val());
		}else{
			end = $.datepicker.parseDate('yy-mm-dd', $("#id_end_date").val());
		}
		
		filterByDate(start, end);
	  }
	);
	$("#id_end_date").datepicker({dateFormat: 'yy-mm-dd'});
	$("#id_end_date").change( function() {
	  $('#sell_detail').empty();
		var start = '';
		var end = $.datepicker.parseDate('yy-mm-dd', $("#id_end_date").val());
		if($("#id_start_date").val() == ''){
			start = $.datepicker.parseDate('yy-mm-dd', $("#id_end_date").val());
		}else{
			start = $.datepicker.parseDate('yy-mm-dd', $("#id_start_date").val());
		}
	  filterByDate(start, end);
	});	

	function filterByDate(start, end){
	  for(var i = 0 ; i < dataTable.length; i++){
		var date = $.datepicker.parseDate('yy-mm-dd', dataTable[i].fields.create_at);
		if(date >= start && date <= end){
			row = _genRowByPK(dataTable[i]);
			$('#sell_detail').append(row);				
		}
	  }	
	}
{% endblock %}	


{% block table_content %}	
    function _submit(job_pk, task_pk, worker_pk){
        cost = $("#"+ worker_pk +"_cost").val();
        link = "/workflow/step/save/" + job_pk + "/" + task_pk + "/" + worker_pk + "/" + cost + "/";
        $("#choosed_worker_"+worker_pk).attr("href",link);
        return true;
    };
    
    function _genRowByPK(data){
        job_pk = {{job.pk}}
        task_pk = $("#task_pk").val()
        worker_pk = data.fields.worker.split("@")[1]
        cost = data.fields.cost
        worker_cost_id = worker_pk+"_cost"
        row = ""+
                "<tr>"+
                "<td>"+data.pk+"</td>"+
                "<td>"+data.fields.task+"</td>"+
                "<td>"+data.fields.worker.split("@")[0]+"</td>"+
                "<td><input type=text size=3 id='"+ worker_cost_id +"' value="+ cost +" /></td>"+
                "<td>0</td>"+
                "<td><a id='choosed_worker_" + worker_pk + "' href='' onClick='_submit(" + job_pk + "," + task_pk + "," + worker_pk + ")'>choose</a></td>"+                
                "</tr>";    
                
        return row;
    };
    
{% endblock %}

    {% block jquery_ready %}
        function calc_summary_cost() {
            var total_cost = 0;
            var x = $(".cost")
            $(".cost").each(function(idx, obj){
                total_cost += parseFloat($(obj).text());
            });
            $("#summary_cost").html(total_cost.toFixed(2));
        };    
        calc_summary_cost();
    {% endblock %}          

{% block footer %}
            <tr><th colspan=6> Confirm Step </th></tr>
            {% for step in job.steps %}
                <tr><td>{{step.task.pk}} </td><td>{{step.task}} </td><td> {{step.worker}} </td><td class="cost"> {{step.cost}} </td><td class="loading">0</td><td><a href="/workflow/step/remove/{{job.pk}}/{{step.pk}}/">Delete</a></td></tr>
            {% endfor %}
                <tr><td></td><td></td><td>Total Cost:</td><td id="summary_cost"> 0 </td><td id="summary_loading"></td><td></td></tr>
{% endblock %}