{% extends "product.php.html" %}

{% block left_link %}
    {% for name,link in main_link.items %}
            <div class='span-6 last'><a href='{{link}}'>{{name|upper}}</a></div>
    {% endfor%}
{% endblock %}

{% block content %}   
<style type="text/css">
/* LIST #5 */

#list5 { color:#111; }
#list5 ol { font-size:18px; }
#list5 ol li { }
#list5 ol li ol { list-style-image: url("/static/images/nested.png"); padding:5px 0 5px 18px; font-size:15px; }
#list5 ol li ol li { color:gray; height:15px; margin-left:10px;}
</style> 
<div style="margin: auto; font: 62.5% Georgia,Arial,sans-serif;">
<div id="list5">
   <ol>
      <li>Sales
         <ol>
            <li><a href="/sales/list/">Cash Sale</a></li>
			<li><a href="/invoice/list/">Invoice</a></li>
			 <li><a href="/deposit/add/">Deposit</a></li>
             <li><a href="/service/add/">Service</a></li>
             <li><a href="/repair/add/">Repair</a></li>
             <li><a href="/salary/add/">Cash out</a></li>
         </ol>
      </li>
      <li>Bills
         <ol>
            <li><a href="/search/cashsales/">Receipt</a></li>
			<li><a href="/search/invoice/">Invoice and Delivery Order</a></li>
            <li><a href="/search/imei/">IMEI Search</a></li>
            <li><a href="/search/deposit/">Deposit</a></li>
            <li><a href="/search/finish_deposit/">Deposit Claimed</a></li>
            <li><a href="/search/service/">Service</a></li>
            <li><a href="/search/repair/">Repair</a></li>
            <li><a href="/search/salary/">Cash out</a></li>
         </ol>
      </li>	  
   </ol>
</div>
</div>
{% endblock %}	