{% extends "product.php.html" %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}




#CompanyProfile{
	text-align: left;
}

#CompanyProfile .logo{
	float: left;
    margin: 0 2em 0 0;    
}
.logo img{
	width: 150px;
	height:  150px;
}

#CompanyProfile .company{
	font-size: 22pt;
}

#CompanyProfile .address{
	font-size: 12pt;
}

#CompanyProfile .contect span{
	font-size: 12pt;
	margin: 0 1.5em 0 0;
}

.header{
    color: blue;
    background-color: #FFFF99;
}

.warn{
    color: red;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">
        <div id="CompanyProfile">
            <div class="logo"><img src="/{{company.logo}}"/></div>
            <div class="company">{{company.name}}</div>
            <div class="address">{{company.address}}</div>
            <div class="contect"><span>TEL: {{company.phone_office}}</span><span> FAX: {{company.fax}} </span><span>EMAIL: {{company.email}}</span></div>
            <p/>
            <hr style="border-bottom: double 4px black; margin-top: 6em" />
        </div>
      
        <div id="page_title" style="margin-bottom:8px; text-align: center"><h1>STOCK BALANCE</h1></div>  
        <div id="page_subtitle" style="margin-bottom:8px;text-align: right;font-weight: bolder; font-size: 10pt">{{dateRange}}</div>  
        <div id="table_holder">  	
          <table class="tablesorter report" id="sortable_table">  		
            <thead>  			
              <tr>  				
                <th>ITEM NO.
                </th>  								
                <th>ITEM DESP
                </th>  								
                <th>AVG. COST
                </th>  								
                <th>ON HAND UNIT
                </th>  								                
                <th>ON HAND Values
                </th>  								                                
              </tr>  		
            </thead>  		
            <tbody>
			{% for value in stockList %}
              <tr class="{{value.8}}">
                  <td>{{value.0}}</td>
                  <td>{{value.1}}</td>
                  <td>{{value.7}}</td>
                  <td>{{value.5}}</td>
                  <td>{{value.6}}</td>
              </tr>  			
			{%endfor%}
              <!-- tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{total_qty}}</td>
                  <td>{{total_on_hand_value}}</td>
              </tr -->  			            
            </tbody>  	
          </table>  
        </div>  
      </div>  
    </div>

{% endblock %}