{% extends "product.php.html" %}

{% block left_link %}
    {% for name,link in main_link.items %}
            <div class='span-6 last'><a href='{{link}}'>{{name|upper}}</a></div>
    {% endfor%}
{% endblock %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;"><h1>Daily Sales Report</h1>
        </div>  
        <div id="page_subtitle" style="margin-bottom:8px;">{{dateRange}}
        </div>  
        <div id="table_holder">  	
          <table class="tablesorter report" id="sortable_table">  		
            <thead>  			
              <tr>  				
                <th>Inv No
                </th>  								
                <th>Product
                </th>  								
                <th>Cashier
                </th>  								
                <th>Total
                </th>  								
                <th>Type
                </th>  								
                <th>Date
                </th>  												
                <th>
                </th>  								
                <th>
                </th>  								
              </tr>  		
            </thead>  		
            <tbody>  						
			{%for outstock in outstocks %}
              <tr>  				
                <td>
                  <a href="/sales/bill/{{bill.pk}}" target="_blank">{{outstock.pk}}</a></td>  								<td>{{outstock.product}}</td>  								<td>{{outstock.user}}</td>  								<td>{{outstock.tt}}</td>  								<td>{{outstock.bill.mode}}</td>  								<td>{{outstock.create_at}}</td>  								<td></td> 								<td>{{bill.profit}}</td>  								
              </tr>  			
			{%endfor%}
            </tbody>  	
            <tfoot>
                <th>
                    <td colspan=2>Total:</td>
                    <td>{{total_amount}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </th>
            </tfoot>
          </table>  
        </div>  
      </div>  
    </div>

{% endblock %}


	
