{% extends "product.php.html" %}

{% block content %}   
<style type="text/css">
.innertable {
	display: none;
}

.summary td{
	color: blue; 
	font-weight: bolder;
}

.detail{
	display: none;
}
.detail td{
	background-color: #eff5fe; 
	color: black; 
	padding: 0 0 0 0.8em;
	font-weight: lighter;
}

.productName{
    font-size: 12pt;
    font-weight: bolder;
    color: red;
}
</style> 
	<div id="content_area_wrapper">  
      <div id="content_area">  
        <div id="page_title" style="margin-bottom:8px;"><h1>{{title}}Report</h1>
        </div>
		
        <div id="page_subtitle" style="margin-bottom:8px;">{{dateRange}}
        </div>  
        <div id="table_holder">  	
		<div id="toggle" style="margin-bottom:8px;text-align: right">Expand/ Collapse Detail</div>
		
              <table class="tablesorter report" id="sortable_table">  		
            <thead>  			
              <tr>  				
                <th>Batch No
                </th>
                <th>Item
                </th>   								
                <th>S/N / IMEI
                </th>  								
 				<th>Supplier
                </th>  
                <th>Qty
                </th>   
                <th>Cost
                </th>  												
								
                <th>Date
                </th>

              </tr>  		
            </thead>  		
            <tbody>  	
        {% for products in group %}
			<div class="productName">
            </div>
			{%for product, inStockRecordSet in products.items%}
				{%for inStockRecord in inStockRecordSet%}
					{% if forloop.counter == 1%}
                        {% if inStockRecord.quantity != 0 %}
                            <tr class="summary"><td></td><td>{{product.name}}{{inStockRecord.inStockBatch.pk}}</td><td></td><td></td><td class="sum_qty">{{inStockRecord.quantity}}</td><td class="sum_cost">{{inStockRecord.cost}}</td> <td></td>  </tr>
                        {% endif %}
					{% else %}
                        {% if inStockRecord.serial_no.count != 0 %}
                            <tr class="detail"><td>{{inStockRecord.inStockBatch.pk}}</td><td>{{inStockRecord.product}}</td><td>{% for serial_no in inStockRecord.serial_no%}{{serial_no.serial_no}}({{serial_no.qty}})<br>{%endfor%}</td><td>{{inStockRecord.inStockBatch.supplier}}</td><td>{{inStockRecord.total_available}}</td><td>{{inStockRecord.cost}}</td> <td>{{inStockRecord.create_at}}</td> </tr>
                        {% endif %}
					{% endif %}
				{%endfor%}
			{%endfor%}
            </tbody>  	
          
		  {% endfor %}
           <tfoot>
           <tr><td></td><td></td><td></td><td></td><td id="sum_qty_total"></td><td id="sum_cost_total"></td> <td></td>  </tr>          
           </tfoot>
          </table> 
        </div>  
      </div>  
    </div>

<script type="text/javascript">
    var sum_qty = 0
    $(".sum_qty").each(function(){
        sum_qty += parseInt($(this).text())
    });
    $("#sum_qty_total").html(sum_qty)
    
    var sum_cost = 0
    $(".sum_cost").each(function(){
        sum_cost += parseInt($(this).text())
    });
    $("#sum_cost_total").html(sum_cost)
    
	$("#toggle").click(function(){
		if ($(".detail").css('display') == 'none'){
			$(".detail").css('display', 'table-row')
		}else{
			$(".detail").css('display', 'none')
		}
	})
</script>
{% endblock %}


	
